@import "~bulma/sass/utilities/_all";

$menu-item-active-color : $info ;
$menu-item-active-background-color : $background;

/*@import "~bulma/sass/components/menu";
@import "~bulma/sass/base/all";
//@import "~bulma/bulma";*/

.menu {
  margin-top: 20px;
}

#SideBar {
  top: 50px;
  width: 0px;
  height: 100%;
  position: fixed;
  display: inline-block;
  overflow-x: hidden;
  left: 0;
  border-right: 1px solid gainsboro;
  transition: width .2s ease-out;


  a {
    padding-bottom: 18px;
    padding-top: 18px;
    padding-left: 35px
  }
}

ul span {
  margin-left: 20px;
  font-family: 'Courier New', Courier, monospace
}
